:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --base-unit: 32px;
  --base-font-size: var(--base-unit);
  --sm: calc(var(--base-unit) * 0.75);
  --xs: calc(var(--base-unit) * 0.5);
}

body, button {
  font-family: var(--system-ui);
  color: #002244;
}

* {
  box-sizing: border-box;
}

body {
  margin: var(--base-unit);
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: var(--base-unit);
  text-align: center;
}

.square {
  background: #00224418;
  border: 1px solid #00224480;
  font-size: var(--sm);
  font-weight: bold;
  line-height: var(--base-unit);
  height: var(--base-unit);
  padding: 0;
  text-align: center;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  gap: var(--base-unit);
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  background: #00224420;
  padding: var(--base-unit);
  border: solid 1px #00224480;
  border-radius: 4px;
  box-shadow: 0 2px 8px 4px #00224418;
}

@media (min-width:400px) {
  .game {
    flex-direction: row;
  }

  .game > div {
    flex: 1 1 50%;
  }
}

.board-grid {
  display: grid;
  width: min-content;
  grid-template-columns: repeat(3, var(--base-unit));
  border: 1px solid #00224480;
}

.game-info > div {
  margin-bottom: var(--xs);
}


.game-info button {
  background: #00224418;
  border-color: #00224480;
  border-radius: 4px;
  padding: 4px 8px;
}
